*{
    margin: 0;
    padding: 0;
    line-height: 1.25rem;
    font-family: sans-serif;
}

html, body{
    overscroll-behavior: none;
}

.con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.Card > div {
    height: auto;
    overflow-wrap: break-word;
    color: rgb(72, 72, 72);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.Card{
    margin: 10px;
    align-items: center;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: repeat(7, 1fr);
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.087);
    max-height: 300px;
    width: 350px;
    font-size: 1.2rem;
    justify-content: center;
}

h4{
    margin: 5px;
    color: rgba(126, 126, 126, 0.639);
}

button {
    border-radius: 5px;
    background-color: rgb(31, 87, 255);
    border-style: none;
    height: 50px;
    width: 160px;
    color: white;
    cursor: pointer;
}

.Buttons > button:hover:active{
    background-color: rgb(34, 86, 199);
}

.Buttons{
    gap: 5px;
    margin: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;

}

header{
    background-color: white;
    height: 3.8em;
    border-bottom: 1px solid rgba(213, 213, 213, 0.447);
    position: sticky;
    top: 0.1px;
}
.openModal{
    border-style: none;
    background-color: white;
    color: black;
}


.openModal:active{
    color: rgb(76, 76, 76);
}

.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 400px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.087);
}

.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(20px);
}

form{
    margin-top: 20%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
    align-content: center;
    font-size: 1.2rem;
}
 .text{
    width: 300px;
    padding: 2px;
    margin-top: -4px;
    margin: 5px;
    vertical-align: text-bottom;
}

label{
    color: rgba(0, 0, 0, 0.838);
    margin-left: 6px;
    font-weight: bold;
    height: 30px;
    position: relative;
    top: 20px;
}
.checkbox{
    position: relative;
    top: -14px;
    right: 90px;
    font-size: large;
}